body {
	background-image: url(../images/comicbackground.jpg);
	font-family: 'Permanent Marker', cursive;
}

#container {
	background-color: white;
	width: 50%;
	text-align: center;
	position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    border: 15px;
    border-style: solid;
}